@model cvmOrders

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout_abcmarket.cshtml";
}

<style>
    .process_02 {
        max-width: 500px;
        max-height: 200px;
        transform: scale(2);
    }

    @@media screen and (max-width: 426px) {
        #card {
            width: 100%;
        }
        .process_02 {
            max-width: 200px;
            max-height: 100px;
            transform: scale(2);
        }
    }

    @@media screen and (min-width: 512px) {
        #card {
            width: 50%;
        }
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="text-center">
        <img src="@Url.Content("~/Images/app/process_img/process_02.png")" class="process_02">
    </div>
    <div class="card m-auto" id="card">
        <div class="card-body">
            <div class="form-horizontal">
                <h4><b>訂單結帳付款</b></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("order_no")
                @Html.Hidden("order_date")
                @Html.Hidden("user_no")

                <div class="form-group">
                    @Html.LabelFor(model => model.receive_name, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.receive_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.receive_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.receive_email, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.receive_email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.receive_email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.receive_address, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.receive_address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.receive_address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.payment_no, htmlAttributes: new { @class = "control-label col-md-12 mt-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.payment_no, new SelectList(Model.PaymentsList, "mno", "mname", Model.payment_no), null, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.payment_no, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.shipping_no, htmlAttributes: new { @class = "control-label col-md-12 mt-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.shipping_no, new SelectList(Model.ShippingsList, "mno", "mname", Model.shipping_no), null, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.shipping_no, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label col-md-12 mt-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.remark, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.remark, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 mt-3">
                        <input type="submit" value="確認付款" class="btn btn-success" />
                        @Html.ActionLink("繼續購物", "Index", "Home", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>

}
