@model abcMarket.Models.Products

@{
    ViewBag.Title = "商品明細";
    Layout = "~/Views/Shared/_LayoutProductDetail.cshtml";
    <script src="@Url.Content("~/shop/js/product-detail.js")"></script>
    <script src="@Url.Content("~/Scripts/scrollForever.js")"></script>

    string proc_photo = "";
    if (Model != null)
    {
        proc_photo = Shop.GetProductImage(Model.product_no);
    }
    string categoty_no = ViewBag.CategoryNo;
    string categoty_name = ViewBag.CategoryName;
}

<!--商品詳細-->
<div style="display: block;">
    <div class="container-fluid" id="test">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-7 d-flex justify-content-center align-items-center" id="test5">
                <div id="test6">
                    <a href="@proc_photo">
                        <img src="@proc_photo" data-big="@proc_photo"
                             class="img-fluid zoom">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5" id="test2">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="product_no" name="product_no" value="@Model.product_no" />
                    <h2>@Model.product_name</h2>
                    <div class="title-price product-detail-label">商品編號：@Model.product_no</div>
                    <div id="test4">
                        @Html.Raw(Model.remark)
                    </div>
                    if (Model.price_discont != null && Model.price_discont > 0)
                    {
                        <div class="title-price product-detail-label">
                            商品售價：
                            <span class="product-sale-price">
                                <del>@Model.price_sale</del>&nbsp;@Model.price_discont
                            </span>
                        </div>
                    }
                    else
                    { <div class="title-price product-detail-label">
                            商品售價：
                            <span class="product-sale-price">@Model.price_sale</span>
                        </div>
                    }

                    List<SelectListItem> lists = Shop.GetPropertyList(Model.product_no);
                    if (lists.Count > 0)
                    {
                        string varid = "";
                        int int_index = 0;
                        foreach (var item in lists)
                        {
                            int_index++;
                            varid = string.Format("property{0}", int_index);
                            <div class="title-price section">
                                <div>
                                    <span class="product-detail-label control-label" style="margin-top: 8px;">@item.Text：</span>
                                    <select id="@item.Value" name="@item.Value" class="form-control" style="width:200px;">
                                        @{

                                            List<string> str_values = Shop.GetProductPropertyValue(Model.product_no, item.Value).Split(',').ToList();
                                            if (str_values.Count > 0)
                                            {
                                                foreach (var value in str_values)
                                                {
                                                    <option>@value</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                    }


                    <div class="section" style="padding-bottom: 20px;padding-top:20px;">
                        <h6 class="title-attr product-detail-label">購買數量：</h6>
                        <div>
                            <div class="btn-minus" style="float:right"><span class="fa fa-minus"></span></div>
                            <input id="qty" name="qty" value="1" style="width:100px;max-width:100px;" />
                            <div class="btn-plus" style="float:left"><span class="fa fa-plus"></span></div>
                        </div>
                    </div>
                    <div class="section" style="padding-bottom: 20px;">
                        <input type="submit" value="加入購物車" class="btn btn-success" onclick="alert('商品已成功加入購物車囉!!')" />
                        @if (UserAccount.IsLogin)
                        {
                            <a href="@Url.Action("AddCollect","Product",new { product_no = @Model.product_no})" onclick="alert('商品已加入收藏囉!!')"><span>加入收藏</span></a>
                        }
                        else
                        {
                            <a href="@Url.Action("AddCollect","Product",new { product_no = @Model.product_no})" onclick="alert('請先進行登入!!')"><span>加入收藏</span></a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="section pt-5 mb-5 d-flex justify-content-center">
    <div class="row w-75">
        <div class="process">
            <div class="col-md-3 col-sm-3 my-3 text-center"
                 style="width: auto; margin-bottom: 10px; padding-bottom: 5px; border-bottom: 4px ridge #d45442;font-size: 30px;font-family: 'Noto Serif TC', serif;text-shadow: 2px 2px 6px rgb(120, 211, 206);">
                看看其它商品
            </div>
        </div>
    </div>
</div>





<!--產品輪播-->
<div class="container mt-1">
    <div class="scrollproduct" id="scroll">
        <ul>
            @{
                var data = Shop.GetAllProduct();

                foreach (var item in data)
                {
                    <li><img src="@Url.Content("~/Images/product/" + item.product_no  + "/" + item.product_no + ".jpg")"></li>
                }
            }
        </ul>
    </div>
</div>


<!--商品瀏覽-->
<div class="container mt-1">
    <div class="row row-cols-2 row-cols-md-4 g-1">
        @{
            foreach (var item in data)
            {
                <div class="card">
                    <div class="product"><img src="@Url.Content("~/Images/product/" + item.product_no  + "/" + item.product_no + ".jpg")" class="card-img-top " alt="..."></div>
                    <div class="card-body">
                        <h5 class="card-text">@item.product_name</h5>
                    </div>
                </div>
            }
        }
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-1 mt-1">
        <div class="card">
            <div class="product"><img src="@Url.Content("~/Images/product/S0001/S0001.jpg")" class="card-img-top " alt="..."></div>
            <div class="card-body">
                <h5 class="card-text">Western Digital SSD 1TB</h5>
            </div>
        </div>
        <div class="card">
            <div class="product"><img src="@Url.Content("~/Images/product/V0001/V0001.jpg")" class="card-img-top " alt="..."></div>
            <h5 class="card-text">ASUS TUF GAMING Radeon™ RX 6900 XT</h5>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-1 mt-1">
        <div class="card">
            <div class="product"><img src="@Url.Content("~/Images/product/S0002/S0002.jpg")" class="card-img-top " alt="..."></div>
            <div class="card-body">
                <h5 class="card-text">Crucial Crucial SSD 1TB</h5>
            </div>
        </div>
        <div class="card">
            <div class="product"><img src="@Url.Content("~/Images/product/C0001/C0001.jpg")" class="card-img-top " alt="..."></div>
            <div class="card-body">
                <h5 class="card-text">INTEL 第10代CPU Comet Lake-S Corei5-10400F</h5>
            </div>
        </div>
    </div>
</div>






@*<div class="container">
        <p class="CurrentPosition">
            目前位置:
            @Html.ActionLink("首頁", "Index", "Home")
            /
            @Html.ActionLink(categoty_name, "CategoryList", "Product", new { id = categoty_no }, null)
            /
            @Model.product_no
        </p>
        <hr />
        <div class="row">
            <div class="col-6 item-photo">
                <div class="easyzoom easyzoom--overlay">
                    <a href="@proc_photo">
                        <img class="mainimage" src="@proc_photo" style="max-width: 100%;width: 400px;" />
                    </a>
                </div>
            </div>
            <div class="col-6" style="border: 0px solid gray">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="product_no" name="product_no" value="@Model.product_no" />
                    <h4>@Model.product_name</h4>
                    <h5 style="color: #337ab7">@Model.product_spec</h5>
                    <div class="title-price product-detail-label">商品編號：@Model.product_no</div>

                    if (Model.price_discont != null && Model.price_discont > 0)
                    { <div class="title-price product-detail-label">商品售價：<span class="product-sale-price"><del>@Model.price_sale</del>&nbsp;@Model.price_discont</span></div> }
                else
                { <div class="title-price product-detail-label">商品售價：<span class="product-sale-price">@Model.price_sale</span></div> }

            List<SelectListItem> lists = Shop.GetPropertyList(Model.product_no);
            if (lists.Count > 0)
            {
                string varid = "";
                int int_index = 0;
                foreach (var item in lists)
                {
                    int_index++;
                    varid = string.Format("property{0}", int_index);
                    <div class="section">
                        <div>
                            <span class="product-detail-label control-label" style="margin-top: 15px;">@item.Text：</span>
                            <select id="@item.Value" name="@item.Value" class="form-control product-detail-select">
                                @{

                                    List<string> str_values = Shop.GetProductPropertyValue(Model.product_no, item.Value).Split(',').ToList();
                                    if (str_values.Count > 0)
                                    {
                                        foreach (var value in str_values)
                                        {
                                            <option>@value</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                }
            }

            <div class="section" style="padding-bottom: 20px;padding-top:10px;">
                <h6 class="title-attr product-detail-label">購買數量：</h6>
                <div>
                    <div class="btn-minus" style="float:right"><span class="fa fa-minus"></span></div>
                    <input id="qty" name="qty" value="1" style="width:100px;max-width:100px;" />
                    <div class="btn-plus" style="float:left"><span class="fa fa-plus"></span></div>
                </div>
            </div>
            <div class="section" style="padding-bottom: 20px;">

                <input type="submit" value="加入購物車" class="btn btn-success" onclick="alert('商品已成功加入購物車囉!!')" />
                <a href="@Url.Action("AddCollect","Product",new { product_no = @Model.product_no})" onclick="alert('商品已加入收藏囉!!')"><span>加入收藏</span></a>

            </div>
        }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="menu-items">
                    <li class="active">商品資訊</li>
                </ul>
                <div style="width: 100%;border-top: 1px solid silver">
                    @Html.Raw(Model.remark)
                </div>
            </div>
        </div>
    </div>*@


