@model IEnumerable<abcMarket.Models.Products>

@{
    ViewBag.Title = "商品搜尋";
}

<p class="CurrentPosition">
    <table>
        <tr>
            <td>
                搜尋內容: <span class="SearchText">@ViewBag.SearchText</span>
            </td>
            <td style="padding-left:10px;">
                @using (Html.BeginForm("Search", "Product"))
                {
                    <input type="text" id="searchText" name="searchText" />
                    <input type="submit" value="商品搜尋" class="btn btn-primary" />
                }
            </td>
        </tr>
    </table>
</p>
<hr />
<div class="row">
    @if (Model.Count() == 0)
    {
        <h5>查無商品資訊!!</h5>
    }

    @{
        foreach (var item in Model)
        {
            string str_url = Shop.GetProductImage(item.product_no);

            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card h-100">
                    <a href="/Product/ProductDetail/@item.product_no">
                        <img class="card-img-top" src="@str_url" alt="@item.product_name">
                    </a>
                    <div class="card-body">
                        <a href="/Product/ProductDetail/@item.product_no">
                            <h6 class="card-title">
                                @item.product_name
                            </h6>
                        </a>
                        @if (item.price_discont != null && item.price_discont > 0)
                        {
                            <h6 style="color:red;">
                                <del>
                                    $@item.price_sale
                                </del>&nbsp;
                                $@item.price_discont
                            </h6>
                        }
                        else
                        {
                            <h6 style="color:red;">
                                $@item.price_sale
                            </h6>
                        }
                        <p>
                            @Html.ActionLink("加入購物車", "AddCart", "Product", new { id = item.product_no }, new { @class = "btn btn-warning" })
                        </p>
                    </div>
                    @*<div class="card-footer">
                        @for (int i = 0; i < item.start_count; i++)
                        {
                            <span>&#9733;</span>
                        }
                        @if (item.start_count < 5)
                        {
                            for (int i = 0; i < (5 - item.start_count); i++)
                            {
                                <span>&#9734;</span>
                            }
                        }
                    </div>*@
                </div>
            </div>
        }
    }
</div>
