@model cvmForgetPassword

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutLite.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row row-cols-1 row-cols-md-1">
        <div class="forget">
            <h1 class="mb-4" id="title">忘記密碼</h1>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.user_email, htmlAttributes: new { @class = "form-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control mb-4" } })
                    @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "form-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control mb-4" } })
                    <img id="code" src="/User/GetValidateCode/" class="mb-2"/>
                    @if (@ViewData["Message"] != null)
                    {
                        <span style="color:red;">
                            @ViewData["Message"]
                        </span>
                    }
                    @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                </div>
                @*<input type="submit" value="登錄" class="btn btn-primary" style="border-radius: 10px; box-shadow: 3px 3px 10px rgba(50, 144, 233, 0.4);">*@
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="確定" class="btn btn-primary" />
                    @Html.ActionLink("返回登入", "Login", "User", null, new { @class = "btn btn-warning" })
                    @Html.ActionLink("返回首頁", "Index", "Home", null, new { @class = "btn btn-success" })
                </div>
            </div>

            @*<p>輸入的值 : </p>@ViewBag.code <br />
                <p>答案的值 : </p>@ViewBag.Ans<br />
                <p>驗證結果 : </p>@ViewBag.Result<br />*@

        </div>
    </div>
}

