@model abcMarket.Models.ProductsProperty

@{
    ViewBag.Title = "商品屬性" + ((Model.rowid > 0) ? "修改" : "新增");
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

@using (Html.BeginForm("Edit", "ProductProperty", new { area = "Admin" }, FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()
    if (Model != null && Model.rowid > 0)
    {
        @Html.HiddenFor(model => model.rowid)
        @Html.HiddenFor(model => model.product_no)
    }

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.property_no, htmlAttributes: new { @class = "control-label control-header" })
        @Html.DropDownList("property_no", (IEnumerable<SelectListItem>)ViewBag.PropertyList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.property_no)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.text_value, htmlAttributes: new { @class = "control-label control-header" })
        @Html.TextBoxFor(model => model.text_value, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.text_value)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label control-header" })
        @Html.TextBoxFor(model => model.remark, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.remark)
    </div>

    <div>
        <input type="submit" value="存檔" class="btn btn-success form-button" />
    </div>
}