@model abcMarket.Models.Users

@{
    ViewBag.Title = "帳號資料管理 / 帳號明細";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<link href="@Url.Content("~/Content/FileUpload.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/FileUpload.js")"></script>


@if (!UserAccount.UploadImageMode)
{
    <div>
        <div class="row">
            <div class="col-2">
                <img src="@Url.Content(@UserAccount.UserImageUrl)" class="user-profile-image" />
            </div>
            <div class="col-10">

                <div class="row">
                    <div class="col-12 control-label control-header">
                        <span class="control-caption">@Html.DisplayNameFor(m => m.mname)：</span>@Html.DisplayFor(m => m.mname)
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 control-label control-header">
                        <span class="control-caption">@Html.DisplayNameFor(m => m.phone)：</span>@Html.DisplayFor(m => m.phone)
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 control-label control-header">
                        <span class="control-caption">@Html.DisplayNameFor(m => m.user_email)：</span>@Html.DisplayFor(m => m.user_email)
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 control-label control-header">
                        <span class="control-caption">@Html.DisplayNameFor(m => m.birthday)：</span>@Html.DisplayFor(m => m.birthday)
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 control-label control-header">
                        <span class="control-caption">@Html.DisplayNameFor(m => m.remark)：</span>@Html.DisplayFor(m => m.remark)
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <p>
            @Html.ActionLink("編輯帳號", "EditProfile", "Member", new { area = "Member" }, new { @class = "btn btn-success form-button" })
            @Html.ActionLink("上傳圖像", "UploadImage", "Member", new { area = "Member" }, new { @class = "btn btn-success form-button" })
        </p>
    </div>
}
else
{
    <div class="file-upload">
        @using (Html.BeginForm("Uploadimage", "Image", new { area = "" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="text-center">
                    <h3>@ImageService.ImageTitle</h3>
                </div>
            </div>
            <div class="image-upload-wrap">
                <input type="file" name="file" id="file" class="form-control file-upload-input" onchange="readURL(this);" accept="image/*" />
                <div class="drag-text">
                    <h3>選擇圖片</h3>
                </div>
            </div>
            <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                    <button type="button" onclick="removeUpload()" class="remove-image">移除 <span class="image-title">上傳圖片</span></button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    <input type="submit" value="上傳檔案" class="btn btn-primary" />
                    @if (!string.IsNullOrEmpty(ImageService.ReturnAreaName))
                    {
                        @Html.ActionLink("取消上傳", ImageService.ReturnActionName, ImageService.ReturnControllerName, new { area = ImageService.ReturnAreaName }, new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        UserAccount.UploadImageMode = false;
                        @Html.ActionLink("取消上傳", "MemberProfile", "Member", new { area = "Member" }, new { @class = "btn btn-danger" })
                    }
                </div>
            </div>
        }

    </div>
}

