@model abcMarket.Models.Payments

@{
    ViewBag.Title = "付款方式刪除";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

@using (Html.BeginForm("Delete", "Payment", new { area = "Admin" }, FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(model => model.rowid)

    <div class="form-group">
        @Html.LabelFor(model => model.mno, htmlAttributes: new { @class = "control-label control-header" })
        @Html.Label("：", htmlAttributes: new { @class = "control-label control-header" })
        @if (Model.mno != null)
        {<span class="control-label control-value">@Model.mno</span>}
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.mname, htmlAttributes: new { @class = "control-label control-header" })
        @Html.Label("：", htmlAttributes: new { @class = "control-label control-header" })
        @if (Model.mname != null)
        {<span class="control-label control-value">@Model.mname</span>}
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "control-label control-header" })
        @Html.Label("：", htmlAttributes: new { @class = "control-label control-header" })
        @if (Model.remark != null)
        {<span class="control-label control-value">@Model.remark</span>}
    </div>

    <div>
        <input type="submit" value="刪除" class="btn btn-danger form-button" />
    </div>
}

