<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="@Url.Content("~/Content/shop/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/shop/shop-homepage.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery-ui.theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/login.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/fontawesome-all.min.css")" />
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" rel="stylesheet" />
    <link href="https: //fonts.googleapis.com/earlyaccess/cwtexkai.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/shop/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.zh-TW.min.js")"></script>
    <script src="@Url.Content("~/Scripts/shop/bootstrap.bundle.min.js")"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/Content/abcMarket/abcMarket_Lite_style.css")">

    <title>@ViewBag.Title</title>
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

</head>

<body>
    <div class="container">
        @RenderBody()
    </div>

    <div class="bg bg-blur"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

</body>

</html>